@page "/events"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TeamFinder.Shared
@using TeamFinder.Shared.Models
@using MatBlazor
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Eventsaa</PageTitle>

<h1>Eventsaa</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
        @foreach (var ev in _events)
        {
            <div class="mat-layout-grid-cell">
                <MatCard class="demo-mat-card">
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            @ev.Name
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            @ev.Date.ToShortDateString()
                        </MatSubtitle2>
                    </div>
                    <MatCardContent>
                        <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                            Visit ten places on our planet that are undergoing the biggest changes today.
                        </MatBody2>
                    </MatCardContent>
                    <MatCardActions>
                        <MatCardActionButtons>
                            <MatButton>Read</MatButton>
                            <MatButton>Bookmark</MatButton>
                        </MatCardActionButtons>
 
                        <MatCardActionIcons>
                            <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
                            <MatIconButton Icon="@MatIconNames.Dashboard"></MatIconButton>
                        </MatCardActionIcons>
                    </MatCardActions>
                </MatCard>
                </div>
        }
        </div>
    </div>
}

@code {
    private IEnumerable<SportEvent>? _events;
    bool panelOpenState;

    protected string[] Val3Items =
    {
        "Winter",
        "Spring",
        "Summer",
        "Autumn"
    };
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _events = await Http.GetFromJsonAsync<IEnumerable<SportEvent>?>(Endpoints.GetEvents);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception e)
        {
            Console.WriteLine();
        }
    }
}