@page "/events"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TeamFinder.Shared
@using TeamFinder.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Events</PageTitle>

<h1>Events</h1>

@if (_events == null)
{
    <p><em>@LoadingMessage</em></p>
}
else
{
    <MatPaginator Length="_events.Count()" PageSize="@pageSize" Page="@OnPage">a</MatPaginator>
    <EventView SportEvents="_events" ViewRange="@ViewRange" By="4"/>

}

@code {
    int pageSize = 25;
    int pageIndex = 0;
    string LoadingMessage = "Loading...";
    Range ViewRange => new (pageIndex*pageSize, pageIndex*pageSize + pageSize);
    void OnPage(MatPaginatorPageEvent e)
    {
        pageSize = e.PageSize;
        pageIndex = e.PageIndex;
    }

    private List<SportEvent>? _events;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _events = await Http.GetFromJsonAsync<List<SportEvent>?>(Endpoints.GetAllEvents);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        finally
        {
            if (_events == null)
            {
                LoadingMessage = "Error while getting events";
            }
        }
    }
}