@using MatBlazor
@inject IJSRuntime JSRuntime
@inject Task<Configuration> _configuration

<MatPaper Outlined="true" Rounded="true">
    <div id="map" style="@($"height:{Height}px")"></div>
</MatPaper>
<HeadContent>
    <meta name="description" content="@Configuration?.BingAPIKey">
</HeadContent>

@code {

    [Parameter, EditorRequired]
    public double? Latitude { get; set; }

    [Parameter, EditorRequired]
    public double? Longitude { get; set; }

    [Parameter, EditorRequired]
    public int Height { get; set; } = 250;

    Configuration? Configuration;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {

            Configuration = await _configuration;
            if (Latitude is not null && Longitude is not null)
            {
                await JSRuntime.InvokeVoidAsync("loadBingMap", Latitude, Longitude, Configuration.BingAPIKey);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}