@using MatBlazor
@inject IJSRuntime JSRuntime

<MatPaper Outlined="true">
    <div id="map" style="height:500px;width:95%;">
    </div>
</MatPaper>
@code {

    [Parameter, EditorRequired]
    public string? Latitude { get; set; }

    [Parameter, EditorRequired]
    public string? Longitude { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Latitude is not null && Longitude is not null)
        {
            await JSRuntime.InvokeVoidAsync("loadBingMap", Latitude, Longitude);
        }
    }

}