@using MatBlazor
@inject IJSRuntime JSRuntime

<MatPaper Outlined="true" Rounded="true">
    <div id="map" style="@($"height:{Height}px")"></div>
</MatPaper>
<HeadContent>

</HeadContent>

@code {

    [Parameter, EditorRequired]
    public double? Latitude { get; set; }

    [Parameter, EditorRequired]
    public double? Longitude { get; set; }

    [Parameter, EditorRequired]
    public int Height { get; set; } = 250;

    //Configuration? Configuration;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            
            if (Latitude is not null && Longitude is not null)
            {
                await JSRuntime.InvokeVoidAsync("loadBingMap", Latitude, Longitude);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}