@using MatBlazor
@using Microsoft.Extensions.Options
@using Newtonsoft.Json
@using TeamFinder.Shared.Models
@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration
@implements IDisposable
<MatPaper Outlined="true" Rounded="true">
    <div id="@GetUniqueId(Id)" style="@($"height:{Height}px;")"></div>

    <script suppress-error="BL9992" type="text/javascript">
        Loader.async = true;      	      
    </script>
</MatPaper>
<code id="personCodeBlock"></code>
@code { string GetUniqueId(int id) => Id == -1 ? "map" : "map-" + Convert.ToString(Id);

    [Parameter, EditorRequired]
    public int Height { get; set; } 

    [Parameter, EditorRequired]
    public SportEvent SportEvent { get; set; }
    
    [Parameter, EditorRequired]
    public MapType Type { get; set; }
    private DotNetObjectReference<Map>? dotNetHelper;
    public enum MapType
    {
        SimpleMap,
        InteractiveMap,
        PositionalMap
    }

    [Parameter]
    public int Id { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            switch (Type)
            {
                case MapType.SimpleMap:
                    await DrawSimpleMap();
                    break;
                case MapType.InteractiveMap:
                    await DrawInteractiveMap();
                    break;
                case MapType.PositionalMap:
                    await DrawPositionalMap();
                    break;
            }
        }
    }
    private async Task DrawSimpleMap()
    {
        await JSRuntime.InvokeVoidAsync("simpleMap", SportEvent.Location.Latitude, SportEvent.Location.Longitude,GetUniqueId(Id));
    }
    
    private async Task DrawPositionalMap()
    {
        jsInteropClasses = new JsInteropClasses3(JSRuntime, SportEvent, GetUniqueId(Id), OnPosChange);
        await jsInteropClasses.InitPositionalMap(name);
        Console.WriteLine(result + "?????????????????????");
        //await JSRuntime.InvokeVoidAsync("positionalMap", SportEvent.Location.Latitude, SportEvent.Location.Longitude,GetUniqueId(Id));
    }
    private string name = "test123";
    private string result;
    private JsInteropClasses3 jsInteropClasses;
    private async Task DrawInteractiveMap()
    {
        //var a = new CallDotNetFromJavaScript();
        //await a.SendDotNetInstanceToJS();
        //dotNetHelper = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("interactiveMap", SportEvent.Location.Latitude, SportEvent.Location.Longitude, GetUniqueId(Id));
    }
    [JSInvokable]
    public string GetHelloMessage(string passedName) => $"Hello, {passedName}!";
    
    public class GeocodeResult
    {
        public List<GeocodePosition> items;
        public GeocodeCoords coords { get; set; }
    }
    
    public class GeocodePosition
    {
        public int id { get; set; }
        public string name { get; set; }
        public string type { get; set; }
        public GeocodeCoords coords { get; set; }
    }
    
    public class GeocodeCoords
    {
        public double x { get; set; }
        public double y { get; set; }
    }

    [Parameter]
    public EventCallback<SportEvent>OnPosChange { get; set; }
    
    private JsToDotNetBridge jsToDotNetBridge = new JsToDotNetBridge();
    private DotNetObjectReference<JsToDotNetBridge> jsToDotNetBridgeReference;
    public void Dispose()
    {
        jsToDotNetBridgeReference?.Dispose();
    }
    public class JsToDotNetBridge
    {
        [JSInvokable]
        public object GetPerson()
        {
            var obj = new
            {
                FistName = "Jon",
                LastName = "Doe",
                Age = 27,
                BirthDate = DateTime.Now.AddYears(-27), 
                LikesDotNet = true
            };
            return obj;
        }
    }
    
    protected override Task OnInitializedAsync()
    {
        jsToDotNetBridgeReference = DotNetObjectReference.Create(jsToDotNetBridge);
        JSRuntime.InvokeVoidAsync("jsToDotNetSamples.setDotNetReference", jsToDotNetBridgeReference);
        return base.OnInitializedAsync();
    }
}