@using TeamFinder.Shared.Models

<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
    <LatitudeField @bind-Value="Location.Latitude" IsReadOnly="true"/>
</div>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
    <LongitudeField @bind-Value="Location.Longitude" IsReadOnly="true"/>
</div>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
    <CityField @bind-Value="Location.City"></CityField>
</div>


@code {

    [Parameter]
    public SportEventLocation Location { get; set; } = new SportEventLocation();
    
    [Parameter]
    public EventCallback<SportEventLocation>LocationChanged { get; set; }
}